.card-container{
    margin: 20px;
    background-color: lightblue;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-container h1{
    font-size: 20px;
    text-align: center;
}